:root {
  --theme-color: #738290;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  color: #3d3d3d;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* main body/slides */
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--theme-color);
}

.outer-wrapper {
  display: flex;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.slide {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.home {
  background-color: #fffcf7;
}
.my-work {
  background-color: #c2d8b9;
}
.about {
  background-color: #e4f0d0;
}
.contact {
  background-color: #a1b5d8;
}

/* Navigation bar */
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
li {
  color: black;
}
a {
  text-decoration: none;
}
header {
  background-color: #fffcf7;
  padding: 28px 10%;
}
